services:
  ml-app:
    build: .
    container_name: plant_disease_detector
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
